services:
  flutter-build:
    image: flutter-linux-arm64:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flutter-build
    working_dir: /app
    volumes:
      - .:/app:delegated
      - flutter_pub_cache:/root/.pub-cache
      - flutter_sdk_cache:/opt/flutter
    environment:
      - PATH=/opt/flutter/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - PUB_CACHE=/root/.pub-cache
    command: bash

volumes:
  flutter_pub_cache:
  flutter_sdk_cache:
